@import "tailwindcss";

@theme {
  --color-purple-deep: #381039;
  --color-purple-mid: #7a396f;
  --color-purple-light: #a65199;
  --color-purple-soft: #e1d0e6;
  --color-gold-accent: #f4daa6;
  --color-blue-accent: #9dc6d6;
  --color-gray-accent: #b5b5b6;
  --color-dark-bg: #1c151e;
}
